meta name=description content=
meta name=author content=
link rel=shortcut icon href=....assetsicofavicon.ico

<meta charset="utf8">
<meta name="">

<base href="/">
<title>App Title</title>
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/chosen.css">